table {
    border-collapse: collapse;
}

tr, td {
    border: 1px solid #ccc;
}

td {
    width: 30px;
    height: 30px;
}

tr:first-child td {
    border-color: transparent;
    border-bottom-color: black;
    text-align: center;
}

tr:last-child td {
    border-bottom-color: black;
}
td:last-child {
    border-right-color: black;
}

td:first-child {
    border-color: transparent;
    border-right-color: black;
    text-align: right;
    width: 20px;
    padding-right: 10px;
}

tr:first-child td:first-child,
tr:last-child td:first-child {
    border-bottom-color: transparent;
}

td.active {
    position: relative;
}
td.active.up::before,
td.active.up::after,
td.active.down::before,
td.active.down::after,
td.active.left::before,
td.active.left::after,
td.active.right::before,
td.active.right::after {
    content: '';
    display: block;
    position: absolute;
}
td.active.up::before,
td.active.up::after,
td.active.down::before,
td.active.down::after {
    width: 100%;
    left: 0;
}

td.active.left::before,
td.active.left::after,
td.active.right::before,
td.active.right::after {
    height: 100%;
    top: 0;
}
td.active.up::before,
td.active.down::before {
    height: 30%;
    top: 0;
    background-color: #00f;
}
td.active.up::after,
td.active.down::after {
    top: 30%;
    height: 70%;
    background-color: #f00;
}
td.active.down::before {
    top: 70%;
}
td.active.down::after {
    top: 0;
}
td.active.left::before,
td.active.right::before {
    width: 30%;
    left: 0;
    background-color: #00f;
}
td.active.left::after,
td.active.right::after {
    left: 30%;
    width: 70%;
    background-color: #f00;
}
td.active.right::before {
    left: 70%;
}
td.active.right::after {
    left: 0;
}

.operation-container {
    margin-top: 10px;
    margin-left: 30px;
}

input {
    display: inline-block;
    width: 278px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}
