input, textarea {
    display: inline-block;
    padding: 2px 5px;
    margin: 5px 0;
}

#search-input {
    width: 300px;
}

.btns {
    margin: 5px 0;
}

.btn {
    cursor: pointer;
}

.btn[disabled] {
    cursor: not-allowed;
}

#items {
    margin: 5px 0;
}

.data-item {
    display: inline-block;
    padding: 2px 4px;
    border: 1px solid #ddd;
    margin-right: 4px;
    background-color: #eee;
    cursor: default;
}
.data-item.match {
    background-color: red;
    color: white;
}