.panel {
    margin-bottom: 5px;
}

.panel:last-child {
    margin-bottom: 0px;
}

.panel-heading {
    display: block;
    padding: 10px 15px;
    color: #333;
    background-color: #f5f5f5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ddd;
}

.panel-body {
    border: 1px solid #ddd;
    border-top: none;
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
}

input:checked + .panel-body {
    padding: 15px;
    max-height: 100px;
    transition: max-height 0.2s ease-in, padding 0.2s ease-in;
}

label {
    cursor: pointer;
}

label:hover {
    text-decoration: underline;
}