.contextmenu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.contextmenu {
    position: absolute;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 1px #aaa;
    background-color: #fff;
}

.contextmenu .item {
    cursor: pointer;
    padding: 5px 10px;
}

.contextmenu .item:hover {
    background-color: #eee;
    color: #fff;
}
